body:has(main.gruvbox-dark) {
    background: #1d2021;
    color: #f9f5d7;
}

.gruvbox-dark h1,
.gruvbox-dark h2,
.gruvbox-dark h3,
.gruvbox-dark h4,
.gruvbox-dark h5,
.gruvbox-dark h6 {
    color: #fabd2f
}

.gruvbox-dark a {
    color: #fabd2f;
}

.gruvbox-dark a:visited {
    color: #f38019;
}

/* Only apply hover effects on devices that can actually hover */
@media (hover: hover) and (pointer: fine) {
    .gruvbox-dark a:hover {
        color: #f9f5d7;
    }

    .gruvbox-dark a:visited:hover {
        color: #f9f5d7;
    }
}

.gruvbox-dark pre {
    background-color: #1d2021;
    border: none
}

.gruvbox-dark .chip,
.gruvbox-dark .nav-bar {
    background-color: #3c3836;
}
