body:has(main.gruvbox-light) {
    background: #f9f5d7;
    color: #1d2021;
}

.gruvbox-light {
    background-color: #f9f5d7;
    color: #1d2021;
}

.gruvbox-light h1,
.gruvbox-light h2,
.gruvbox-light h3,
.gruvbox-light h4,
.gruvbox-light h5,
.gruvbox-light h6 {
    color: #9d0006
}

.gruvbox-light a {
    color: #9d0006;
}

.gruvbox-light a:visited {
    color: #af3a03;
}

/* Only apply hover effects on devices that can actually hover */
@media (hover: hover) and (pointer: fine) {
    .gruvbox-light a:hover {
        color: #1d2021;
    }

    .gruvbox-light a:visited:hover {
        color: #1d2021;
    }
}

.gruvbox-light pre {
    background-color: #f9f5d7;
    border: none;
}

.gruvbox-light .chip {
    background-color: #ebdbb2;
}
