* {
    box-sizing: border-box;
    text-rendering: geometricPrecision;
}

body {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
    word-wrap: break-word;
}

html {
    scroll-behavior: smooth;
    font-size: 14px;
}

main {
    /*font-family: monospace, monospace;*/
    max-width: 60rem;
    padding: 2rem;
    margin: auto;
}

@media only screen and (max-device-width: 736px) {
    main {
        padding: 1rem;
    }
}

h3 {
    margin-top: 50px;
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5 {
    margin-bottom: .1rem;
}

blockquote {
    border-left: 1px solid #bdae93;
    margin: 0.5em 10px;
    padding: 0.5em 10px;
}

footer {
    text-align: center;
    margin-top: 40px;
}

ul {
    padding-inline-start: 25px;
}

ul > li {
    position: relative;
    margin-bottom: 5px;
    list-style-type: none;
    padding-left: 1.2em; /* Adjust as needed */
}

ul > li::before {
    content: "• ";
    position: absolute;
    left: 0;
    top: 0;
}

hr {
    margin: 1.875em 0;
    border: none;
    border-bottom: solid 1px #000000;
}

.dashed {
    border: none;
    height: 1px;
    background: #000;
    background: repeating-linear-gradient(90deg, #ebdbb2, #ebdbb2 6px, transparent 2px, transparent 8px);
}

.skill-list {
    list-style-type: none;
    max-width: 600px;
}

.education-list {
    list-style-type: none;
    max-width: 550px;
}

.languages-list {
    list-style-type: none;
    max-width: 300px;
}

.skill-list li,
.languages-list li,
.education-list li {
    display: flex;
    justify-content: space-between;
}

.career-list {
    list-style-type: none;
    max-width: 550px;
}

.career-list li {
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    justify-content: space-between;
}

.nav-links span {
    margin: 0 5px;
}

#get-in-touch {
    display: flex;
    justify-content: space-between;
}

#get-in-touch span {
    margin: 0 5px;
}

#about-me {
    position: relative;
    overflow: hidden;
}

#about-me::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}

#about-me img {
    float: left;
    height: 120px;
    margin-right: 20px;
    margin-top: 5px;
}

h2 {
    margin-bottom: -15px;
}

h3 {
    margin-top: 40px;
    margin-bottom: 10px;
}

h4 {
    margin-bottom: 10px;
    margin-left: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
}

#theme-switch {
    margin-top: 17px;
}

@media (max-width: 650px) {
    .skill-list li,
    .education-list li {
        flex-direction: column;
        align-items: flex-start;
    }
}
